body{
  background-color: #EAF6F6;
 }
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}


 hr{
   background-color: white;
 border-style: none;
 
 border-width: 5px;
 border-color: grey;
 width: 5%;
}
